<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - Office of Carbon Omission</title>
    <meta name="title" content="{{ title }} - Office of Carbon Omission">
    <meta name="description" content="The Office of Carbon Omission is tasked with removing carbondioxide production across all sectors.">
    <link href="/css/styles.css" rel="stylesheet">
    <link rel="icon" type="image/svg+xml" href="/assets/images/favicon.svg">
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
    <meta property="og:image" content="/assets/images/og-image.png">
    <meta property="og:image:width" content="628">
    <meta property="og:image:height" content="1200">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://carbonomission.org/">
    <meta property="og:title" content="{{ title }} - Office of Carbon Omission">
    <meta property="og:description" content="The Office of Carbon Omission is tasked with removing carbondioxide production across all sectors.">
    <meta name="fediverse:creator" content="@ainali@social.coop">
    <link rel="license" href="https://creativecommons.org/licenses/by-sa/4.0/">
</head>
<body>
  {% include 'header.njk' %}
  <main>
  {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
</body>
</html>
