<footer>
<p>&copy; 2030 Office of Carbon Omission. All content licensed <a href="https://creativecommons.org/licenses/by-sa/4.0/deed.en">CC BY-SA 4.0.</a></p>
<p><a href="/about/#privacy">Privacy Policy</a> | <a href="/about/#tos">Terms of Service</a> | <a href="/contact">Contact Us</a></p>
</footer>
