---
title: France bans short haul flights
source: Légifrance
sourceurl: https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000047571222
published: May 22, 2023
effectivedate: May 22, 2023
level: national
flag: 🇫🇷
tags: ["transport", "news"]
layout: 'news.njk'
---

<p>France bans flights where it can be replaced by a train ride of less than 2.5 hours.
<blockquote cite="https://www.legifrance.gouv.fr/jorf/id/JORFTEXT000047571222">The regular public air passenger transport services prohibited by II of Article L. 6412-3 of the Transport Code are those for which a substitutable rail link ensures, in each direction, a journey of less than two and a half hours</blockquote>It should be noted that the law has several exceptions.</p>
