---
title: The Hague bans advertisments for fossil fuels
source: Den Haag
sourceurl: https://denhaag.raadsinformatie.nl/vergadering/1148754#ai_8626683
published: September 12, 2024
effectivedate: 1 January, 2025
level: regional
flag: 🇳🇱
tags: ["marketing", "news"]
layout: 'news.njk'
---

<p>The Hague bans advertisments for fossil fuels.
<blockquote cite="https://denhaag.raadsinformatie.nl/document/14140406/1/RIS318509+Bijlage+Kadernota+Buitenreclame+2024+-+2029">Fossil advertising is understood to mean: 'advertising by or for companies in the coal sector, the oil and gas sector and the <strong>aviation sector</strong> and advertising about the products and services of fossil fuels, <strong>flight holidays, airline tickets</strong>, gray electricity contracts, gas contracts, cruise trips or cars with a fossil or hybrid fuel engine.</blockquote>[Editor's emphasis].</p>
