---
title: Contact
layout: 'base.njk'
redirect_from: contact.html
---

<div class="about">
	<h1>{{ title }}</h1>
	<p>Email: <a href="mailto:ideas@carbonomisson.org">ideas@carbonomission.org</a>
	<p>Mastodon: <a href="https://social.coop/@ainali">@ainali@social.coop</a></p>
	<p>Code: <a href="https://github.com/Ainali/carbonomission">GitHub</a></p>
</div>
